/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2022, 3:06:44 PM
    Author     : User
*/
.container
{
    margin-left: 0 !important;
}
.dcards
{
    position: relative;
    float: left;
    width: 145px;
    height: 191px;
    margin: 0 10px 10px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 3px solid #fff;
    border-radius: 14px;
    opacity: .6;
}
.dcards.active,
.dcards:hover
{
    border: 3px solid #000;
    opacity: 1;
    cursor: pointer;
}
.dcards .ene
{
    position: absolute;
    top: 3px;
    left: 13px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 2px #000;
}
.dcards .name
{
    position: absolute;
    top: 9px;
    left: 39px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
.dcards .desc
{
    position: absolute;
    top: 125px;
    left: 11px;
    color: #ffffff;
    font-size: 11px;
    float: left;
    width: 127px;
}
.dcards .addMore
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    z-index: 5;
    font-size: 14px;
    font-weight: bold;
}
.calc
{
    position: absolute;
    top: 10px;
    left: 645px;
    width: 300px;
}